* {
  margin: 0;
  padding: 60px,40px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f7fb;
  margin-top: 100px;
}

/* Gallery */
#gallery {
  padding: 60px 20px;
  text-align: center;
}

.section-title {
  font-size: 2.2rem;
  color: #003366;
  margin-bottom: 30px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1100px;
  margin: auto;
}
.grid-item:nth-child(n+5) {
  display: none;
}


.grid-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.3s;
}

.grid-item img:hover {
  transform: scale(1.05);
}

/* Arrows */
.arrow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 10px 14px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

.arrow.left { left: 15px; }
.arrow.right { right: 15px; }

.lightbox {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.lightbox img {
  max-width: 80%;
  max-height: 80%;
}

.lightbox .prev,
.lightbox .next {
  position: absolute;
  top: 50%;
  font-size: 40px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
}

.lightbox .prev { left: 20px; }
.lightbox .next { right: 20px; }

.lightbox .close {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

/* Footer */
footer {
  margin-top: 120px;
  background: #003366;
  color: white;
  padding: 15px;
  text-align: center;
}

footer a {
  color: #ffcc00;
  text-decoration: none;
}
